<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.songlin.mapper.CourseTrafficMapper" >
	
	<insert id="insert" parameterType="com.songlin.bean.CourseTraffic">
		insert into course_traffic (traffic,course) value(#{traffic},#{name})
	</insert>
  	<select id="getTop" parameterType="java.lang.Integer" resultType="com.songlin.bean.CourseTraffic">
  		select traffic,course name from course_traffic limit #{top}
  	</select>
</mapper>